crewai==0.121.1
Flask==3.1.1
Flask_Cors==4.0.0
gdown==5.2.0
langchain_community==0.3.24
litellm==1.71.2
MySQL-python==1.2.5
pandas==2.2.3
PyMySQL==1.1.1
PyPDF2==3.0.1
python-dotenv==1.1.0
Requests==2.32.3
Werkzeug==3.1.3
